:local(.main)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  font-family: "Helvetica Neue"
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%

:local(.wrap)
  width: 500px
  background: rgba(white, .95)
  padding: 1em
  border-radius: .3em
  box-shadow: 0 0 20px rgba(black, .1)


:local(.body)
  line-height: 1.4em

  p
    margin-bottom: 1em

  :local(.percentage_box)
    margin-top: 10px

  :local(.control_area)
    :local(.box)
      display: inline-block
      @media only screen and (max-width : 600px)
        width: 100%
      @media only screen and (min-width : 600px)
        width: 49%

.rdtDay
  cursor: pointer
